# phpstan.neon.dist


parameters:
	level: 9

	paths:
		- src

	ignoreErrors:
		-
		  # Examples:
		  #
		  # Parameter #4 $flags of static method Symfony\Component\Yaml\Yaml::dump() expects int<0, 64721>, int given.
		  #
		  message: '#Parameter \#[0-9]+ \$flags of static method Symfony\\Component\\Yaml\\Yaml::dump\(\) expects int<0, 64721>, int given.#'
		  path: src/YamlTable.php
